@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto, sans-serif;
    color: #FFF !important;
}
body{
    background-color: #181A2A !important;
}
.Header{
    background-color: #181A2A !important;
    display: flex;
}
.Nav{
    background-color: #181A2A !important;
    font-size: 20px;
    position: relative;
    top: -68px;
    right: -330px;
    width: 440px;   
    color: white !important;
}
.header_title span{
    font-weight: bold;
}
.header_title p{
    font-size: 25px;
    position: relative;
    top: -35px;
    right: -40px;
}
.header_title{
    position: relative;
    bottom: -30px;
    right: -150px;
    width: 50px;
}
.header_search input{
    background-color: #242535;
    border-style: none;
    border-radius: 3px;
    padding: 7px 12px;
    position: relative;
    top: -117px;
    right: -800px;
}
.header_switch{
    font-size: 30px;
    position: relative;
    top: -168px;
    right: -1050px;
    width: 10px;
}
.header_switch:hover{
    cursor: pointer;
}
.header_search button{
    padding: 7px 12px;
    position: relative;
    top: -117px;
    right: -760px;
    border-style: none;
    border-radius: 5px;
    background-color: #242535;
}
.inner_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    margin: 0px 170px;
}
.inner_footer p span{
    color: #97989F;
}
ul{
    list-style: none;
    color: #97989F;
    background: #141624;
    margin: 0px 0px;
}
.lists p{
    margin: 0px 50px;
    margin-bottom: 10px;
}
.lists ul li{
    color: #97989F;
    padding: 3px 0px;
    position: relative;
    right: -50px;
}
.lists p span{
    color: #97989F;
    padding: 3px 0px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;

}
footer{
    background: #141624;
    padding: 40px 0px;
    margin-top: 200px;
}
.searchbox h3{
    background: #242535;
    font-weight: 400;
    margin-bottom: 5px;
}
.searchbox p{
    background: #242535;
    font-size: 14px;
    color: #97989F;
    margin-bottom: 20px;
}
.searchbox{
    background: #242535;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
    height: 260px;
}
.searchbox input{
    padding: 8px 20px;
    border-radius: 5px;
    border-style: none;
    background: #181A2A;
    color: #FFF;
}
.searchbox .email{
    position: relative;
    top: -70px;
    right: -60px;
    font-size: 20px;
    color: #696A75  
}
.searchbox button{
    width: 222px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: #4B6BFB;
    margin-top: 10px;
    color: #FFF;
}
.footerhr hr{
border: 1px dashed lightgray;
margin-right: -440px;
margin-top: 50px;
}
.footerhr h2 span{
    font-weight: lighter;
}
.footerhr p span{
    color: #BABABF;
    font-size: 14px;
    margin-right: 2px;
}
.footerhr p{
    font-size: 14px;
}
.footerhr img{
    float: left;
    position: relative;
    width: 40px;
    margin-right: 10px;
}
.footerhr{
    margin: 0px 170px;
    justify-content: space-between;
    display: flex;
}
.footerhr ul{
    margin-top: 100px;
    display: flex;
}
.footerhr ul li{
    margin-left: 10px;
}
.footerhr1{
width: 500px;
}
.inner_footer ul{
    position: relative;
    left: -30px;
}
.inner_footer p a{
    font-weight: bold;
    font-size: 18px;
}
.footerhr ul li{
    margin-top: 30px;
}
